<div class="form-group col-md-12 col-sm-12 col-xs-12 no-padding">
    <!-- Opportunity Date -->
    <label class="col-md-12 col-sm-12 col-xs-12 no-padding control-label" for="opportunity_search_minDate">Opportunity Date : </label>
    <div class=" col-md-6 col-sm-6 col-xs-6 no-padding">
        <input type="text" id="opportunity_search_minDate" name="opportunity_search[minDate]" placeholder = "dd-mm-yyyy" class="form-control input-md dates">
    </div>     
    <div class=" col-md-6 col-sm-6 col-xs-6 no-padding">
        <input type="text" id="opportunity_search_maxDate" name="opportunity_search[maxDate]" placeholder = "dd-mm-yyyy" class="form-control input-md dates">
    </div>
    
     <!-- Opportunity Date -->
    <label class="col-md-12 col-sm-12 col-xs-12 no-padding control-label" for="opportunity_search_minResolvedDate">Resolved Date : </label>
    <div class=" col-md-6 col-sm-6 col-xs-6 no-padding">
        <input type="text" id="opportunity_search_minResolvedDate" name="opportunity_search[minResolvedDate]" placeholder = "dd-mm-yyyy" class="form-control input-md dates">
    </div>     
    <div class=" col-md-6 col-sm-6 col-xs-6 no-padding">
        <input type="text" id="opportunity_search_maxResolvedDate" name="opportunity_search[maxResolvedDate]" placeholder = "dd-mm-yyyy" class="form-control input-md dates">
    </div>
</div>