<a class="keyword_toggle hide" href="javascript:void(0)"><i class="fa fa-chevron-circle-down"></i></a>
<div class="keyword_search col-md-12 col-sm-12 col-xs-12 no-padding show ">
    <div class="form-group"> 
            <label class="radio-inline" for="radios-0">
                <input type="radio" name="searchkeyword" id="searchkeyword-0" value="1" checked="checked">
                Address
            </label> 
            <label class="radio-inline" for="radios-1">
                <input type="radio" name="searchkeyword" id="searchkeyword-1" value="2">
                Client
            </label> 
            <label class="radio-inline" for="radios-2">
                <input type="radio" name="searchkeyword" id="searchkeyword-2" value="3">
                Tags
            </label> 
    </div>
    <div class="form-group col-md-10  col-xs-10 col-sm-10 no-padding">
            <input id="searchinput" name="searchkeywordinput" type="search" placeholder="Search property" class="form-control input-md">
    </div>
    <div class="form-group col-md-2  col-xs-2 col-sm-2 right-float no-padding">
            <button id="keywordsearch" name="keywordsearch" class="btn btn-info" onclick="SearchByKeywords()">  <i class="fa fa-search"></i></button>
    </div>
</div>