<div class="form-group col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="form-group"> 
        <label class="col-md-12 col-sm-12 col-xs-12 no-padding control-label" for="checkboxes">Select Propery Type</label>
        <label class="radio-inline" for="radios-0">
            <input type="radio" name="searchCategory" id="search-from-rent" data-ptype="evi_rent"  value="Rent">
            Rental
        </label> 
        <label class="radio-inline" for="radios-1">
            <input type="radio" name="searchCategory" id="search-from-sale" data-ptype="evi_sale" value="Sales">
            Listings
        </label> 
        <label class="radio-inline" for="radios-2">
            <input type="radio" name="searchCategory" id="search-from-list" data-ptype="evi_list" value="Listing">
            Customs
        </label> 
   </div>
</div>