<div class="form-group col-md-12 col-sm-12 col-xs-12 no-padding">
    <div class="form-group"> 
        <label class="col-md-12 col-sm-12 col-xs-12 no-padding control-label" for="checkboxes">Select Custom Type</label>
        <label class="col-md-12 col-sm-12 col-xs-12 no-padding" for="radios-0">
            <input type="radio" name="opportunity_search[custom]" id="search-opportunity_custom" value="1">
            Insurance Reminder
        </label> 
        <label class="col-md-12 col-sm-12 col-xs-12 no-padding" for="radios-1">
            <input type="radio" name="opportunity_search[custom]" id="search-opportunity_custom" value="2">
            Asset Valuation Reminder
        </label> 
        <label class="col-md-12 col-sm-12 col-xs-12 no-padding" for="radios-2">
            <input type="radio" name="opportunity_search[custom]" id="search-opportunity_custom" value="3">
            Reconnect
        </label>
        <label class="col-md-12 col-sm-12 col-xs-12 no-padding" for="radios-3">
            <input type="radio" name="opportunity_search[custom]" id="search-opportunity_custom" value="4">
            Research
        </label>
    </div>
    <!-- Button -->
    <button id="singlebutton" name="singlebutton" class="col-md-4 col-xs-6 col-sm-4 btn btn-info pull-right" onclick="SearchByOppCustoms('{{ path('search_map_by_opportunity_customs') }}')">  <i class="fa fa-search"></i> Find </button>
</div>